.idea/.name
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/Vpn.iml
.idea/watcherTasks.xml
.idea/workspace.xml
.idea/dictionaries/soshnikov.xml

.DS_Store
db.sqlite3
local_settings.py
local_url.py
d93df5ec0fb0fc49d65595ccd7d398d7.jpg
portal/static/media
caf52c21-2d93-4e1a-b907-15acc8e2e18a.jpg
.sass-cache
.idea
.vs/rutokenvpn/v14/.suo
rutokenvpn.pyproj
*.pyc
.vs/config/applicationhost.config
rutokenvpn.sln
rutokenvpn.pyproj.user
Vpn/config/clientGuid
.vs/rutokenvpnserver/v14/.suo
rutokenvpnserver.pyproj
/node_modules/
commands.txt
debug.log
/vpnserver/static/app.bundle.js
/vpnserver/static/styles.css
/pkiapi/bin/*
/pkiapi/pki
/openvpn/*
celeryshell
\.vscode/
/venv/
*.LICENSE.txt