<div class="modal">
    <header class="hgroup">
        <h2>Обратите внимание!</h2>
    </header>
    <div class="text">
        <p>Если в будущем Вы решите сменить название компании, все выписанные сертификаты пользователей станут недействительными
            и произойдет полный сброс настроек VPN-сервера!</p>
    </div>
    <div class="control">
        <ul>
            <li><a class="b_cell gray" (click)="closeModal(false)">Отмена</a></li>
            <li><a class="show_modal b_fill red" (click)="closeModal(true)">Настроить центр сертификации</a></li>
        </ul>
    </div>
</div>
<div class="fade"></div>